<html>
    <head>
        <title>María´s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">María´s Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Poco a poco le voy cogiendo el tranquillo a esto pero me queda bastante</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Con otras doscientas veces que lo practique yo creo que ya bien</p>
        </div>
    </body>
</html>